html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #212121;
}

* {
  box-sizing: border-box;
  user-select: none;
}

.emoji {
  margin: 50px 0;
  font-size: 30px;
  animation: movement 2s infinite linear;
}

.emoji-still {
  margin: 50px 0;
  font-size: 30px;
}

.emoji-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px 40px;
}

@keyframes movement {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(calc(100% - 20px));
  }
  100% {
    transform: translateX(0%);
  }
}
