.container {
  min-height: 100vh;
  padding: 80px 100px;
  display: grid;
  grid-template-rows: 50% 50%;
}

@media only screen and (max-width: 900px) {
  .container {
    padding: 50px 50px;
    min-height: initial;
    grid-template-rows: initial;
  }
}

/* Top half */
.section {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media only screen and (max-width: 900px) {
  .section {
    display: flex;
    flex-direction: column;
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.profilePicture {
  margin-right: 50px;
  border-radius: 50%;
}

@media only screen and (max-width: 900px) {
  .profilePictureContainer {
    width: 75px;
    height: 75px;
  }
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  margin-left: 20px;
  color: #f8f8f8;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 24px;
  }
}

.description {
  font-size: 24px;
  color: #c7c7c7;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 900px) {
  .description {
    font-size: 18px;
    line-height: 1.6;
  }
}

/* Links */
.aside {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 900px) {
  .aside {
    padding-top: 20px;
    justify-content: flex-start;
  }
}

.imageLink {
  height: 170px;
  width: 200px;
  background-color: #3c3c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: 16px;
}

@media only screen and (max-width: 900px) {
  .imageLink {
    height: 85px;
    width: 100px;
    margin-left: 0;
    margin-right: 16px;
  }
}

.githubContainer {
  width: 100px;
}

.linkedInContainer {
  width: 150px;
}

@media only screen and (max-width: 900px) {
  .githubContainer {
    width: 50px;
  }

  .linkedInContainer {
    width: 75px;
  }
}

.imageLink:hover {
  opacity: 0.85;
}

.imageLink:active {
  opacity: 0.75;
}

/* Bottom part */
.article {
  background-color: #5c5c5c;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .article {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
}
